<!-- Title -->
<meta name="description" content="<%= post.body.split(".")[0,2]%>">
<meta name="keywords" content="<%= post.tags.join(", ") %>">

<h1><%= link_to post.header, post %></h1>
<small><%= post.subheader %></small>

<!-- Author -->
<p class="lead">
  by <a href="#"><%= post.author.full_name %></a>
</p>

<hr>
  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.time_posted %></p>
<hr>

<p class="lead"><%= post.body.split("\n").first %></p>
<%= post.body %>
